<div class="container">
    <br>

    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let header of headers">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let dish of menu">
                <td>{{dish.name}}</td>
                <td></td>
                <td>{{dish.description}}</td>
                <td>{{dish.price}}</td>
                <td>
                    <button class="btn btn-warning m-1"
                    #editId><a routerLink='/edit-form/{{dish.id}}'>Edit</a>
                    </button> 
                    <button class="btn btn-danger m-1" 
                    (click)="ondelete($event, deleteId.value)" 
                    value={{dish.id}} #deleteId>
                    Delete</button>
                </td>
                <td>
                  <button class="btn btn-primary">Upload</button>
                </td>
            </tr> -->
        </tbody>
    </table>
</div>

<!-- <div class="container">
    <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item" (click)=changepage()><a class="page-link" routerLink="/menu/1">1</a></li>
          <li class="page-item" (click)=changepage()><a class="page-link" routerLink="/menu/2">2</a></li>
          <li class="page-item" (click)=changepage()><a class="page-link" routerLink="/menu/3">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
</div> -->