<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <ul class="navbar-nav" *ngFor="let tab of navTabs">
          <li class="nav-item" >
              <a class="nav-link" href="{{tab.link}}" 
              (click)="select(tab)">
              {{tab.name}}
          </a></li>
        </ul>

        <form class="form-inline ml-auto" action="">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" #search>
            <button class="btn btn-success" type="submit">Search</button>
          </form>
      </nav>

</div>